/*//////////////////////////////////////////////////////////
// Utils
//////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////
// Setup
//////////////////////////////////////////////////////////*/
* {
  box-sizing: border-box;
  position: relative;
}
img {
  max-width: 100%;
}

/*//////////////////////////////////////////////////////////
// Styles
//////////////////////////////////////////////////////////*/
.content {
  display: block;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
.title {
  margin-bottom: 50px; 
}
.logos {
  display: flex;
  align-items: center;
}
.logo {
  width: 50%;
  display: inline-block;
}
a.logo {
  width: 20%;
  border-bottom: solid white 10px;
  transition: border-bottom 1s ease;
}
a.logo:hover {
  border-bottom: solid black 10px;
}
.logo + .logo {
  margin-left: 5%;
}
.jlogo, .rlogo {
}